body{
background:#fdfae3;
margin:0px;
padding:0px;
font-family:sans-serif;
width:100%;
}

h3{
	
}

h3 > a{
	color: #bbb;
	text-decoration: none;
	font-weight: normal;
	font-size: medium;
}

h3 > a:hover{
	color: #ddd;
	text-decoration: underline;
}

textarea,input{
font-family: Verdana, Geneva, sans-serif;
font-size:12px;
}

input.delete{
background-color:red;
font-weight: bold;
}

#serial_number_display{
background-color: transparent;
border:0px;
}

#container{
position:absolute;
top:0px;
left:0px;
width:100%;
}

#header{
position:absolute;
top:0px;
left:0px;
width:100%;
}

#titlebar{
position:absolute;
top:0px;
width:100%;
height:30px;
background-color:#fff6bd;
}

#titlelogo{
position:absolute;
top:2px;
left:2px;
height:26px;
width:26px;
}

#titletextbox{
position: absolute;
left:35px;
top:0px;
height:100%;
display:table;
}

#titleitem{
font-size:17pt;
color:#de6933;
display:table-cell;
vertical-align:bottom;
position:relative;
}

#menubar{
position:absolute;
right: 0px;
top: 0px;
height:30px;
vertical-align:bottom;
}

#submenubar{
position:absolute;
margin-top:-20px;
margin-left:-20px;
height:20px;
/*width: 100%;*/
padding-left: 20px;
padding-top: 5px;
background-color: #ffe9bf;
}

span.delete{
	background-color: #f6a3a3;
	text-decoration:line-through;
	font-style: italic
}

.help-title{
	font-size: 15;
	font-weight: bold;
}
.help-content{
	display: none; 
}

.menuitem, .menuitem_active{
position: relative;
padding-right: 25px;
display:inline-block;
font-size: 16px;
}

.menuitem > a,
.menuitem > a:active,
.menuitem > a:hover,
.menuitem_active > a,
.menuitem_active > a:active,
.menuitem_active > a:hover
{
text-decoration:none;
color: #000;
}

.menuitem > a:hover, .menuitem > a:active, .menuitem_active > a:hover, .menuitem_active > a:active{
color: #999;
}


menuitem > a:active{
font-weight: bold;
}

.menuitem_active{
font-weight: bold;
color: red;
}

.note{
font-size: smaller;
font-style: italic;
}

#content{
position:absolute;
left:0px;
margin-top: 30px;
width: 100%;
}

#content > div{
padding:20px;	
}


#importheader{
position:absolute;
top:0;
left:0;
height:30px;
background-color: #f4d69d;
}

#footer{
position:relative;
top:0px;
left:0px;
width:100%;
}

#footerbar{
position:absolute;
top:0px;
left:0px;
width:100%;
height:20px;
background-color:#ddddee;
display:table;
}


#asynctocontainer{
position:fixed;
top:0;
left:0;
width:100%;
z-index:99;
display:none;
text-align:left;
background-color:#374c61;
filter:alpha(opacity=40);
opacity:0.4;
}

#asynctosuggestion{
position:fixed;
display:none;
width:400px;
height:300px;
z-index:100;
border:3px solid #567696;
background:#d9eafa;
padding:5px;
top:50%;
left:50%;
margin-top:-200px;
margin-left:-150px;
}

#asynctoclosebutton{
position:absolute;
top:0px;
right:0px;
margin-top:-13px;
margin-right:-15px;
}

#asynctodatadiv{
position:absolute;
top:5px;
left:5px;
width:390px;
height:298px;
overflow-y:scroll;
}

#right{
background-color:red;
}

#tabs{
width:800px;
}

.asynctotitle{
margin-bottom: 10px;
}

.author-quickadd{
position:fixed;
top:120px;
right:20px;
width:600px;
padding:20px;
background-color:#dae4f2;
}


.client_summary{
background-color:#d2e8ff;
width:400px;
padding:5px;
border:1px solid #888888;
-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.tableview{
background-color:#e5e5e5;
border:1px solid #888888;
}

.tableview td{
padding:2px;
border-right:1px solid #cccccc;
}

.tableview th{
	font-size:14px;
	/*font-weight: normal;*/
	background-color: #ccc;
	padding: 0px;
	border: 0px;
	margin: 0px;
	border: 0px;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
}

/*th.header { 
	background-image: url(/assets/img/small.gif);     
	cursor: pointer; 
	font-weight: bold; 
	background-repeat: no-repeat; 
	background-position: center left; 
	padding-left: 20px; 
	border-right: 1px solid #dad9c7; 
	margin-left: -1px; 
}

th.headerSortDown { 
	background-image: url(/assets/img/small_desc.gif); 
  background-color: #3399FF; 
} */

/* tables */
/* http://tablesorter.com/docs/ */
table.tableview {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
}
table.tableview thead tr th, table.tableview tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 9pt;
	padding: 4px;
}
table.tableview thead tr .header {
	background-image: url("/library/assets/img/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tableview tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tableview tbody tr.odd td {
	background-color:#F0F0F6;
}

table.tableview thead tr .headerSortUp {
	background-image: url("/library/assets/img/asc.gif");
}
table.tableview thead tr .headerSortDown {
	background-image: url("/library/assets/img/desc.gif");
}
	table.tableview thead tr .headerSortDown, table.tableview thead tr .headerSortUp {
background-color: #8dbdd8;
}


.tablelable{
vertical-align: top;
}

#resultcount{
	font-size: 12px;
	font-style: italic;
	padding-bottom: 5px;
}

input, select, textarea{
margin-bottom:8px;
margin-top: 4px;
background-color:#eee;
border:1px solid #555;
-moz-border-radius:8px; /* Firefox */
-webkit-border-radius: 8px; /* Safari, Chrome */
-khtml-border-radius: 8px; /* KHTML */
border-radius: 8px; /* CSS3 */
}

select{
  background-color: inherit;
}

::selection
{
color:#ff0000;
}
::-moz-selection
{
color:#ff0000;
}

label{
color:#555;
/*font-size: smaller;*/
padding-left: 5px;
}

.overduetwo{
background-color: #ffb2b2;
}

.overdueone{
background-color: #ffffb2;
}

.success,
.message,
.notice,
.overdue
 {
	width: 600px;
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.overdue
 {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.notice {
	color: #000;
}
.success,
.overdue{
	color: #fff;
}

.overdue{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#1a1a1a));
	background-image: -webkit-linear-gradient(top, #404040, #1a1a1a);
	background-image: -moz-linear-gradient(top, #404040, #1a1a1a);
	background-image: -ms-linear-gradient(top, #404040, #1a1a1a);
	background-image: -o-linear-gradient(top, #404040, #1a1a1a);
	background-image: linear-gradient(top, #404040, #1a1a1a);
}

/* reduce font size */
ul.ui-autocomplete.ui-menu{
	font-size: 11pt;
}

/* override UI autocomplete: don't make bold / remove jump to 2 lines for longest item */
.ui-menu .ui-menu-item {
	border: 1px solid rgba(0,0,0,0);
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { font-weight: normal; }